
<!-- TOOL BAR-->
<div class="modal-content" >
   <div class="modal-header">
           
      <button (click)="setTransaccionNew()" mat-fab data-dismiss="modal"  data-toggle="modal" data-target="#exampleModalCenter"
       class="color-success font-size-20px">+</button>    
      
       <div class="font-size-20px">Roles</div>
      
        <mat-form-field>
          <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        </mat-form-field>
  
      </div>
</div> 
<!--END TOOL BAR-->

<div class="shadow-sm p-3 mb-5 bg-white rounded">
    
      <!-- FORMULARIO -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Rol</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                    <form [formGroup]="service.form" class="example-form">
                                 

                         <mat-form-field class="example-full-width">
                              <input matInput type="text" required formControlName="nombre"
                                     placeholder="Nombre" [value]="nombre" 
                                     (keyup)="nombre = $event.target.value">
                                     <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>                         
                    
                        </form>   

            </div>
            <div class="modal-footer">
             <button mat-stroked-button data-dismiss="modal">Cancelar</button> 

             <button [disabled]="service.form.invalid" *ngIf="transaccionIsNew" (click)="guardarClick()"  mat-raised-button color='primary'>Guardar</button>
             <button [disabled]="service.form.invalid" *ngIf="!transaccionIsNew" (click)="guardarClick()" data-dismiss="modal" mat-raised-button color='primary'>Guardar</button>
                  
             
            </div>
          </div>
        </div>
      </div>
      <!--END FORMULARIO -->


      <!-- ELIMINAR -->
      <div class="modal fade" id="delete_rol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Rol</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <label style="font-weight: 500">Está seguro que desea eliminar el registro?</label>  
                </div>
                <div class="modal-footer">
                  <button mat-stroked-button data-dismiss="modal">Cancelar</button> 
                  <button (click) = "eliminarClick()" data-dismiss="modal" mat-raised-button color='warn' >Eliminar</button>
                  
                </div>
              </div>
            </div>
      </div>
      <!--END ELIMINAR -->

      <!-- GRID -->
      <table mat-table [dataSource]="dataSource">
      
         
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
        
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
         </ng-container>

            
          <ng-container matColumnDef="commands" >
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let row = index;">
                  
                   <button (click)="id = row;cargarDatos()" mat-icon-button data-toggle="modal" data-target="#exampleModalCenter"> 
                      <mat-icon color='primary'>edit</mat-icon>
                    </button>
                    
                     <button (click)="id = row" mat-icon-button  data-toggle="modal" data-target="#delete_rol">                  
                        <mat-icon color='warn'>delete</mat-icon>
                      </button>

                </td>
              </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>      
      <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <!--END GRID -->         
  
</div>
    